In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd

In [4]:
sp500 = pd.read_csv('D:/Github/Pairs-Trading-Lab/dataset/sp500.csv', index_col=[0], parse_dates=[0])
sp500.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XLNX,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2018-01-02 05:00:00+00:00,67.605,52.76,106.12,172.26,96.71,94.04,192.43,58.23,153.83,177.69,...,164.29,47.87,67.87,29.375,68.070,81.61,124.08,103.71,50.68,71.79
2018-01-03 05:00:00+00:00,69.340,52.12,107.04,172.18,99.94,94.42,195.77,58.36,154.50,180.98,...,162.45,47.49,69.23,29.330,68.870,81.53,124.93,105.74,50.64,72.09
2018-01-04 05:00:00+00:00,68.805,52.45,111.00,173.02,99.36,94.17,199.30,58.26,156.34,183.21,...,163.39,47.11,70.49,29.690,69.345,82.35,124.73,107.82,50.83,72.54
2018-01-05 05:00:00+00:00,69.890,52.65,112.17,174.96,99.36,95.33,202.28,58.99,157.66,185.35,...,164.48,46.78,74.16,29.910,69.230,82.84,125.98,109.60,50.86,73.34
2018-01-08 05:00:00+00:00,70.060,52.11,111.37,174.34,97.77,96.90,207.80,58.83,158.90,185.02,...,162.24,47.15,74.63,30.260,69.460,82.96,126.15,110.63,50.62,74.25

In [6]:
from utils import _partial_criteria

In [40]:
X, Y = sp500['KEY'][:120], sp500['HBAN'][:120]

In [41]:
(passed, spread, beta) = _partial_criteria(X, Y)

{'t_statistic': -2.2303933532169085, 'p_value': 0.19539989375051547, 'critical_values': {'1%': -3.4870216863700767, '5%': -2.8863625166643136, '10%': -2.580009026141913}}

In [42]:
passed

True

In [43]:
spread

2018-01-02 05:00:00+00:00    1.876910
2018-01-03 05:00:00+00:00    1.967806
2018-01-04 05:00:00+00:00    2.037402
2018-01-05 05:00:00+00:00    2.163703
2018-01-08 05:00:00+00:00    2.188905
                               ...
2018-06-18 04:00:00+00:00    2.448097
2018-06-19 04:00:00+00:00    2.393590
2018-06-20 04:00:00+00:00    2.512491
2018-06-21 04:00:00+00:00    2.590585
2018-06-22 04:00:00+00:00    2.501998
Length: 120, dtype: float64

In [1]:
import time
import numpy as np
import pandas as pd
import alpaca_trade_api as tradeapi

In [2]:
api_key = 'PK1C9602KLKVYJQKXXNI'
api_secret = 'SKYIKdRmGRfPIHs9WSw0ChPMVKYTKe0nlaqP/3Vb'
api = tradeapi.REST(api_key, api_secret, base_url='https://paper-api.alpaca.markets', api_version='v2')

In [3]:
res = api.get_barset('KEY', '1D', limit=90).df

In [5]:
res['KEY']

                            open    high    low  close    volume
2020-11-02 00:00:00-05:00  13.13  13.520  12.87  13.43  16250447
2020-11-03 00:00:00-05:00  13.75  13.940  13.64  13.77   9981256
2020-11-04 00:00:00-05:00  13.34  13.340  12.54  12.54  17705417
2020-11-05 00:00:00-05:00  12.62  13.305  12.61  13.16  13235584
2020-11-06 00:00:00-05:00  13.34  13.560  12.82  12.82  39906156
...                          ...     ...    ...    ...       ...
2021-03-08 00:00:00-05:00  20.98  21.550  20.74  21.21  11650532
2021-03-09 00:00:00-05:00  20.87  20.900  20.20  20.46   9673735
2021-03-10 00:00:00-05:00  20.47  21.160  20.39  21.16  10899349
2021-03-11 00:00:00-05:00  20.96  21.260  20.86  21.10   6472943
2021-03-12 00:00:00-05:00  21.43  21.580  21.15  21.29   7766281

[90 rows x 5 columns]

In [10]:
def get_price_data(asset:str, limit:int)->pd.Series:
    res = api.get_barset(asset, '1D', limit=limit)
    df = res.df[asset]
    return df['close']

In [11]:
get_price_data(asset='KEY', limit=90)

2020-11-02 00:00:00-05:00    13.43
2020-11-03 00:00:00-05:00    13.77
2020-11-04 00:00:00-05:00    12.54
2020-11-05 00:00:00-05:00    13.16
2020-11-06 00:00:00-05:00    12.82
                             ...
2021-03-08 00:00:00-05:00    21.21
2021-03-09 00:00:00-05:00    20.46
2021-03-10 00:00:00-05:00    21.16
2021-03-11 00:00:00-05:00    21.10
2021-03-12 00:00:00-05:00    21.29
Name: close, Length: 90, dtype: float64

In [17]:
def OMS(asset:str, qty:float)->None:
    if qty != 0:
        if qty > 0:
            side = 'buy'
        else:
            side = 'sell'
        QTY = abs(qty)
        resp = api.submit_order(symbol=asset,
                                qty=QTY,
                                side=side,
                                type='market',
                                time_in_force='day')
        print(resp)
    else:
        try:
            #close the existing order
            resp = api.close_position(asset)
            
        except Exception as e:
            pass

In [18]:
OMS('KEY', 2)

Order({   'asset_class': 'us_equity',
    'asset_id': 'f7623733-d5b7-4d6b-b04a-fedeed0f2e64',
    'canceled_at': None,
    'client_order_id': '3f793843-a62d-4cb4-8df2-53dd871f19c7',
    'created_at': '2021-03-13T08:33:42.060036Z',
    'expired_at': None,
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': 'e9efd3aa-0ec8-46fe-91a1-4790d584a6e2',
    'legs': None,
    'limit_price': None,
    'notional': None,
    'order_class': '',
    'order_type': 'market',
    'qty': '2',
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': 'buy',
    'status': 'accepted',
    'stop_price': None,
    'submitted_at': '2021-03-13T08:33:42.053409Z',
    'symbol': 'KEY',
    'time_in_force': 'day',
    'trail_percent': None,
    'trail_price': None,
    'type': 'market',
    'updated_at': '2021-03-13T08:33:42.060036Z'})

In [19]:
clock = api.get_clock()

In [20]:
clock.next_open

Timestamp('2021-03-15 09:30:00-0400', tz='pytz.FixedOffset(-240)')